.github
.git*
.idea
dev
docs
licenses
node_modules
pairdrop-cli
*.md
*.yml
Dockerfile
rtc_config_example.json
rtc_config.json
turnserver_example.conf
turnserver.conf
ecosystem.config.cjs
.pairdrop-cli-config
.pairdrop-cli-config.example
ssl/
certs/